---
// Layout and Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/elements/Header.astro";
import Timeline from "../components/elements/Timeline.astro";
import TrayArrowDown from "phosphor-astro/TrayArrowDown.astro";
import Signature from "../components/elements/Signature.astro";
import Tooltip from "../components/elements/Tooltip.astro";
import TenetCard from "../components/elements/TenetCard.astro";

// Data
import { timelineItems } from "../data/timeline";
import { tenets } from "../data/tenets";

// Assets
import { Image } from "astro:assets";
import avatarBackground from "../assets/avatars/avatar-4.png";
import karina from "../assets/brand/karina-profile.png";
import notion from "../assets/logos/notion.png";
import cursor from "../assets/logos/cursor.png";
import figma from "../assets/logos/figma.png";
import life from "../assets/other/life.png";
import melancholia from "../assets/other/melancholia.png";
import book from "../assets/other/book.png";
import AtomSymbol from "../components/structure/AtomSymbol.astro";
---

<Layout
  pageTitle="About - Karina Tovar"
  pageDescription="Pixel Philosopher Cautious Technologist"
>
  {/* Hero Section */}
  <Header
    title="Hello Stranger"
    subtitle="I am an artist turned product designer"
    description=""
  />

  {/* Profile Image */}
  <figure class="rounded-t-full overflow-hidden relative mt-10">
    <Image
      src={karina}
      alt="Karina Tovar"
      class="absolute bottom-0 translate-x-5 karina-profile"
    />
    <Image src={avatarBackground} alt="Noise" />
  </figure>

  {/* Introduction */}
  <section id="introduction" class="pt-10 pb-16">
    <h2 class="text-3xl">Building for Joy</h2>
    <p class="text-lg">
      I have a background in the Fine Arts, with a MFA from the Massachusetts
      College of Art & Design. There I was part of the Studio for Interrelated
      Media where I made artwork focused on performative technology. That just
      means that I obsessed over the intersection of technology and human
      happiness. I worked on a lot of performance art pieces that lived outside
      of the museum so I could create room for joy in the mundane.
    </p>
  </section>

  {/* Tenets Section */}
  <section id="tenets" class="pb-16">
    <AtomSymbol include_classes="w-20 h-20 mb-10" />
    <h2 class="text-3xl mt-0">My Design Tenets</h2>
    <p>What I believe in.</p>
    <div class="grid grid-cols-1 gap-8 mt-8">
      <TenetCard items={tenets} />
    </div>
  </section>

  {/* Experience Section */}
  <section id="experience" class="pt-10 pb-16">
    <AtomSymbol include_classes="w-20 h-20 mb-10" />
    <div class="flex justify-between items-center flex-wrap gap-4 mb-10 group">
      <h2 class="m-0 text-3xl">A Decade of Experience</h2>
      <a href="#" class="resume-link text-sm">
        <TrayArrowDown class="w-6 h-6" />
        <span class="underline-offset-4 group-hover:underline"
          >Download Resume</span
        >
      </a>
    </div>
    <Timeline items={timelineItems} />
  </section>

  {/* Tools Section */}
  <section id="tools" class="pt-10 pb-16">
    <AtomSymbol include_classes="w-20 h-20 mb-10" />
    <h2 class="text-3xl mt-0">My Preferred Stack</h2>
    <p>Some of my favorite things to make things and poke around.</p>

    <div class="stack-grid">
      <div class="stack-item--cell">
        <div class="stack-item--icon"></div>
        <span>Pen & Paper</span>
      </div>
      <div class="stack-item--cell">
        <div class="stack-item--icon">
          <Image src={notion} alt="Notion" class="w-6 h-6" />
        </div>
        <span>Notion</span>
      </div>
      <div class="stack-item--cell">
        <div class="stack-item--icon">
          <Image src={figma} alt="Figma" class="w-4" />
        </div>
        <span>Figma</span>
      </div>
      <div class="stack-item--cell">
        <div class="stack-item--icon">
          <Image src={cursor} alt="Cursor" class="w-9" />
        </div>
        <span>Cursor</span>
      </div>
      <div class="stack-item--cell">
        <div class="stack-item--icon">
          <Image src={cursor} alt="Cursor" class="w-9" />
        </div>
        <span>Cursor</span>
      </div>
    </div>
  </section>

  {/* Personal Section */}
  <section id="personal" class="pt-10 pb-16">
    <AtomSymbol include_classes="w-20 h-20 mb-10" />
    <h2 class="text-3xl mt-0">Outside of Work</h2>

    <p>
      I like to watch dark psychological thrillers that are too much to watch
      more than once. Don't ask me why I've watched
      <Tooltip text="Melancholia">
        <span class="inline-block mb-2 text-left"
          >A Danish psychological thriller film written and directed by Lars von
          Trier.</span
        >
        <Image src={melancholia} alt="Melancholia" class="w-[200px]" />
      </Tooltip>
      way more than needed. I also enjoy watching soccer, reading the occasional
      <Tooltip text="book">
        <span class="flex items-center gap-2">
          <span class="inline-block mb-2 text-left"
            >Currently reading The Anthropocene Reviewed by John Green.</span
          >
          <Image src={book} alt="Book" class="w-20" />
        </span>
      </Tooltip>, and playing with my kiddo and crazy dog.
    </p>

    <figure
      class="flex justify-center w-full h-[600px] bg-neutral-100 border-[5px] border-white rounded-lg shadow-lg"
    >
      <Image src={life} alt="Life" class="w-full" />
    </figure>

    <figcaption class="text-left text-sm mt-4">
      <span>Working tirelessly for them.</span>
    </figcaption>

    <Signature text="Life is good!" includeClasses="mt-10" />
  </section>
</Layout>

<style>
  /* Grid Layout */
  .stack-grid {
    @apply grid grid-cols-5 max-md:grid-cols-2 max-sm:grid-cols-1 gap-6;
  }

  /* Stack Items */
  .stack-item--cell {
    @apply flex flex-col items-start gap-2;
  }

  .stack-item--icon {
    @apply w-12 h-12 bg-neutral-100 rounded-full flex items-center justify-center;
    @apply bg-paper-base rounded-lg shadow-md mb-2;
  }

  /* Profile Image */
  .karina-profile {
    @apply drop-shadow-[0_8px_20px_rgb(70,46,15)] mix-blend-overlay;
  }

  /* Resume Link */
  .resume-link {
    @apply flex items-center gap-2 w-fit transition-all duration-300;
  }
</style>
