---
import Layout from "../layouts/Layout.astro";
import karina from "../assets/brand/karina-profile.webp";
import { statusCards } from "../types/intro/Statuses";
import { jobHistory } from "../types/intro/Resume";
import { projects } from "../types/Projects";
import ArrowElbowRightDown from "phosphor-astro/ArrowElbowRightDown.astro";
import tropic from "../assets/work/tropic/demo-tropic-01.png";
import SectionHeader from "../components/structure/SectionHeader.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout
  pageTitle="Karina Tovar"
  pageDescription="Pixel Philosopher Cautious Technologist"
  eyelash_text="Karina Tovar"
  title_text="Pixel Philosopher Cautious Technologist"
  description_text="My motivation is to build products that aim to help people have happier days. Life is too short to be ruined by awful experiences. Every product needs to be crafted for human joy."
  header_visual_image={karina}
  header_visual_alt_text="Karina Tovar"
  header_visual_classes="mt-10"
  header_visual_width={473}
  horizon_height="455px"
>
  <div class="arrow-holder content-section">
    <div>
      <ArrowElbowRightDown class="w-6 h-6" />
    </div>
  </div>

  <div class="content-wrapper flex flex-col">
    <section class="section-wrapper pt-20 content-section">
      <SectionHeader
        eyebrow="Experience"
        title="10+ years of making the complex simple and enjoyable"
        description="Over 10 years I've worked on all size startups in all categories. I have deep experience distilling technical products into simple easy-to-use solutions."
      />
      <div
        class="grid grid-cols-1 md:grid-cols-3 mt-8 items-center bg-paper-green rounded-md overflow-hidden"
      >
        {
          statusCards.map((item) => (
            <div class="flex flex-1 flex-col gap-2 p-5 border-r border-white text-stone-900 text-sm text-center">
              <span class="text-ink-highlight-green font-semibold tracking-widest text-xs">
                {item.label}
              </span>
              <span>{item.value}</span>
            </div>
          ))
        }
      </div>
    </section>

    <div class="divider--small"></div>

    <section class="section-wrapper content-section">
      <div class="flex flex-col gap-10 w-full">
        <div class="flex-1 flex flex-col text-base">
          {
            jobHistory.map((job) => (
              <div class="flex justify-between items-center px-2 py-4 bg-paper-base border-b border-dashed border-neutral-200 px-4 transition-all duration-300 ease-in-out">
                <div class="flex items-center">
                  <div class="w-10 h-10 bg-white shadow-md shadow-neutral-200 rounded-md overflow-hidden border border-neutral-200 mr-4" />
                  <span class="font-semibold">{job.company}</span>
                  <span>, {job.role}</span>
                </div>
                <span class="text-ink-secondary">{job.period}</span>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <div class="divider--large"></div>

    <section class="demo-area h-96 content-section">
      <h2>Building procurement paradise</h2>
      <span
        class="uppercase text-sm tracking-widest font-semibold text-ink-secondary my-5"
        >Supplier Intelligence for Tropic</span
      >
    </section>

    <div class="divider--large"></div>

    <section class="section-wrapper mt-10 content-section">
      <SectionHeader eyebrow="Testimonials" title="In their own words" />
    </section>
  </div>

  <div class="divider--large"></div>
  <div class="content-section hidden">
    <div class="grid grid-cols-12 gap-8 gap-y-8 my-20 pb-20 max-w-screen-2xl mx-auto">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</Layout>

<style>
  .arrow-holder {
    @apply w-full -mt-20 absolute z-minimal text-white flex items-center justify-center;

    div {
      @apply mx-auto h-14 w-14 rounded-full bg-paper-dark border-2 border-white flex items-center justify-center;
    }
  }

  .demo-area {
    @apply w-full p-10 bg-paper-green relative flex flex-col items-center justify-center;
  }
</style>
