---
{
  /* Components */
}
import Layout from "../layouts/Layout.astro";
import Header from "../components/elements/Header.astro";
import ListItem from "../components/elements/ListItem.astro";
import ListItemHeader from "../components/elements/ListItemHeader.astro";
{
  /* Assets */
}
import { Image } from "astro:assets";
import bubble from "../assets/bubbles/bubble-1.png";
---

<Layout
  pageTitle="Thoughts - Karina Tovar"
  pageDescription="Mental Notes and Deep Thoughts"
>
  {/* Header */}
  <Header title="Notes & Deep Thoughts" />

  {/* Intro */}
  <section>
    <h2 class="mt-0 text-3xl font-medium">Diary of a pixel philosopher</h2>

    <p class="text-lg">
      This is where I keep my thoughts and ideas. I write about design,
      technology, and human happiness.
    </p>
  </section>

  {/* Notebooks */}
  <section>
    <h3 class="mt-20 mb-5 text-5xl font-medium opacity-50">Notebooks</h3>

    <div class="writing-list">
      <ListItem
        isLink={true}
        label="How to Make Tails with Ruby on Rails"
        detail="2024"
        href="/post-1"
        icon={bubble}
      />
      <ListItem
        isLink={true}
        label="Writing Better Prompts"
        detail="2024"
        href="/post-1"
        icon={bubble}
      />
    </div>
  </section>

  {/* 2024 */}
  <section>
    <h3 class="mt-20 mb-5 text-5xl font-medium opacity-50">2024</h3>
    <ListItemHeader leftLabel="TITLE" rightLabel="DATE" />
    <div class="writing-list">
      <ListItem
        isLink={true}
        label="Some Post Name Here"
        detail="2024"
        href="/post-1"
        icon={bubble}
      />
      <ListItem
        isLink={true}
        label="Some Post Name Here"
        detail="2024"
        href="/post-1"
        icon={bubble}
      />
      <ListItem
        isLink={true}
        label="Some Post Name Here"
        detail="2024"
        href="/post-1"
        icon={bubble}
      />
    </div>
  </section>

  {/* 2023 */}
  <section>
    <h3 class="mt-20 mb-5 text-5xl font-medium opacity-50">2023</h3>
    <ListItemHeader leftLabel="TITLE" rightLabel="DATE" />
    <div class="writing-list">
      <ListItem
        isLink={true}
        label="Some Post Name Here"
        detail="2024"
        href="/post-1"
        icon={bubble}
      />
      <ListItem
        isLink={true}
        label="Some Post Name Here"
        detail="2024"
        href="/post-1"
        icon={bubble}
      />
    </div>
  </section>
</Layout>

<style>
  /* Writing list */
  .writing-list {
    @apply space-y-3 mt-2 relative;
  }
</style>
