---
import GridContainer from '../structure/GridContainer.astro';
interface Props {
  type?: 'default' | 'grid';
  size?: 'large' | 'small';
  title: string;
  subtitle?: string;
  description?: string;
}

const { type = 'default', size = 'large', title, subtitle, description } = Astro.props;
---

<header class="header-container">
  {type === 'grid' ? (
    <GridContainer size={size}>
      <h1>{title}</h1>
      {subtitle && <h2>{subtitle}</h2>}
      {description && <p>{description}</p>}
    </GridContainer>
  ) : (
    <>
      <h1>{title}</h1>
      {subtitle && <h2>{subtitle}</h2>}
      {description && <p>{description}</p>}
    </>
  )}
</header>

<style>
  .header-container {
    @apply w-full flex flex-col items-start justify-start py-10;

    h1, h2, p {
      @apply my-0;
    }

    h2 {
      @apply text-3xl font-medium tracking-tight mt-16;
    }

    p {
      @apply text-lg mt-5;
    }
  }
</style>
