---
import type { ImageMetadata } from "astro";
import type { HeaderProps } from "../../types/HeaderProps";
import Title from "../structure/Title.astro";
import Horizon from "../background/Horizon.astro";
import Breadcrumbs from "../structure/Breadcrumbs.astro";

interface Props extends HeaderProps {}

const {
  // Title props
  logo = "default",
  logo_classes = "w-24 h-24",
  title_text = "Title Text Here",
  eyelash_text = "Eyelash Text Here",
  description_text = "",
  wrapper_classes = "pt-10",
  breadcrumbs = [],
  // Horizon props
  horizon_height = "",
  header_visual_image = undefined as unknown as ImageMetadata,
  header_visual_alt_text = "",
  header_visual_classes = "",
  header_visual_width = 600,
} = Astro.props;
---

<header class="w-full relative pt-32">
  <Breadcrumbs crumbs={breadcrumbs} />
  <Title
    {logo}
    {logo_classes}
    {eyelash_text}
    {title_text}
    {description_text}
    {wrapper_classes}
  >
    <slot name="title-content" slot="title-content" />
  </Title>
  <Horizon
    horizon_height={horizon_height}
    visual_image={header_visual_image}
    visual_alt_text={header_visual_alt_text}
    visual_classes={header_visual_classes}
    visual_width={header_visual_width}
  />
</header>
