---
import type { TitleProps } from '../../types/HeaderProps';
import AtomSymbol from "../structure/AtomSymbol.astro";

interface Props extends TitleProps {}

const {
  logo = "default",
  logo_alt_text = "Logo",
  logo_classes = "",
  title_text,
  eyelash_text,
  description_text,
  wrapper_classes = "",
} = Astro.props;
---

<div class={`title-container section-wrapper ${wrapper_classes}`}>
  {
    logo === "default" ? (
      <AtomSymbol include_classes={logo_classes} />
    ) : (
      <img
        src={logo}
        alt={logo_alt_text}
        class={logo_classes}
        draggable="false"
      />
    )
  }
  <div class="flex flex-1 flex-col gap-10 my-10">
    {eyelash_text && <h3>{eyelash_text}</h3>}
    <h1>{title_text}</h1>
    {description_text && <p>{description_text}</p>}
    <slot name="title-content" />
  </div>
</div>

<style>
  .title-container {
    @apply flex flex-col items-center justify-center text-center;
  }
  .title-logo {
    @apply w-40 h-40 pt-20 m-auto;
  }
</style>
