---
import type { HorizonProps } from '../types/HeaderProps';
import { Image } from "astro:assets";
import trees from "../assets/landscape/trees.webp";

interface Props extends HorizonProps {}

const {
  horizon_height = "450px",
  visual_image = "",
  visual_alt_text = "",
  visual_classes = "",
  visual_width = 600,
} = Astro.props;
---

<div class="horizon-container" style={`min-height: ${horizon_height}`}>
  {visual_image && (
    <Image
      src={visual_image}
      alt={visual_alt_text}
      class={`center_image ${visual_classes}`}
      width={visual_width}
      loading="eager"
    />
  )}
  <Image src={trees} alt="Trees" class="trees" loading="eager" />
</div>

<style>
  .horizon-container {
    @apply w-full min-h-[250px] relative mix-blend-multiply;
  }
  .center_image {
    @apply mx-auto z-minimal relative;
  }
  .trees {
    @apply absolute bottom-0 left-0 animate-fade-in;
  }
</style>
