---
import type { TitleProps } from '../types/HeaderProps';
import AtomicLogo from "./AtomSymbol.astro";

interface Props extends TitleProps {}

const {
  logo = "default",
  logo_alt_text = "Logo",
  logoClasses = "",
  title_text,
  eyelash_text,
  description_text,
  include_classes = "",
} = Astro.props;
---

<div class={`title-container ${include_classes}`}>
  {
    logo === "default" ? (
      <AtomicLogo include_classes={logoClasses} />
    ) : (
      <img
        src={logo}
        alt={logo_alt_text}
        class={logoClasses}
        draggable="false"
      />
    )
  }
  <div class="flex flex-1 flex-col gap-10 my-10">
    {eyelash_text && <h3>{eyelash_text}</h3>}
    <h1>{title_text}</h1>
    {description_text && <p>{description_text}</p>}
    <slot name="title-content" />
  </div>
</div>

<style>
  .title-container {
    @apply flex flex-col items-center justify-center max-w-2xl m-auto text-center;
  }
  .title-logo {
    @apply w-40 h-40 pt-20 m-auto;
  }
</style>
